<div class="d-flex justify-content-end my-2 mx-2">
  <%= link_to "New medicine", new_medicine_path, class: "btn btn-primary" %>
</div>
<div class="grid" data-controller="push" data-application-server-key="<%= Rails.application.credentials.dig(:Webpush, :public_key) %>">
  <div id="medicines" class="row row-cols-lg-4 row-cols-md-2 ml-5 mx-auto">
    <% @medicines.each do |medicines| %>
      <div class="col order-first">
        <div class="card mb-3 d-md-block" style="width: 18rem;">
          <%= render "medicines", medicine: medicines %>
        </div>
      </div>
    <% end %>
  </div>
  <button data-action="push#PushNotification">
    Send a Message
  </button>
</div>
