CLOUD_NAME= ''
API_KEY= ''
API_SECRET= ''
URL= "cloudinary://***"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
ELASTICSEARCH_URL= ""
POSTGRES_URL = "postgres://{POSTGRES_USER}:{POSTGRES_PASSWORD}@db:5432/{POSTGRES_DB}"
