<div data-controller="nested-form" id="<%= dom_id(@medicine) %>_form">
  <template data-nested-form-target="template">
    <div class="nested-fields" id="nested-fields">
      <label>
        Time to eat
      </label>
      <input type="time" name="medicine[time_to_eats_attributes][][time_to_eat]" />
      <button type="button" data-action="nested-form#removeForm">Remove</button>
    </div>
  </template>
  <form action="<%= medicine_time_to_eats_path(@medicine) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div data-nested-form-target="container">
      <div class="nested-fields">
        <label>
          Time to eat
        </label>
        <input type="time" name="medicine[time_to_eats_attributes][][time_to_eat]" />
      </div>
    </div>
    <button type="button" data-action="nested-form#addForm">Add more Time</button>
    <input type="submit" value="Add Time">
  </form>
</div>
