<div id="<%= dom_id time_to_eat %>">
  <p>
    <strong>Time to eat:</strong>
    <%= time_to_eat.time_to_eat %>
  </p>

  <p>
    <strong>Medicine:</strong>
    <%= time_to_eat.medicine_id %>
  </p>

</div>
