<h1>Editing time to eat</h1>

<%= render "form", time_to_eat: @time_to_eat %>

<br>

<div>
  <%= link_to "Show this time to eat", @time_to_eat %> |
  <%= link_to "Back to time to eats", time_to_eats_path %>
</div>
