<section class="d-flex w-100 justify-content-center min-vh-50 align-items-center">
  <%= render "form",
   start_end_medicine: @start_end_medicine,
    medicine: @medicine,
     header: "Editing start end medicine",
     button: "Submit" %>
</section>