<h1>Editing start end medicine</h1>

<%= render "form", start_end_medicine: @start_end_medicine %>

<br>

<div>
  <%= link_to "Show this start end medicine", @start_end_medicine %> |
  <%= link_to "Back to start end medicines", start_end_medicines_path %>
</div>
